<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Information about SEG-NN">
    <meta name="author" content="Stanislav Okunev">

    <title>SEG-NN</title>

    <!-- Bootstrap + custome core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/carousel.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div id="app">
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">СтройЭлектроГрупп</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active" ><a href="#" v-on:click="resetContentAndHeaders">Главная</a></li>
                <li><a href="#about" @click="togglePortfolioVisible">Наше портфолио</a></li>
                <li><a href="#contact">Контакты</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- CAROUSEL
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="assets/images/slides/MockForSlider1.png" alt="First slide">
        </div>
        <div class="item">
          <img class="second-slide" src="assets/images/slides/MockForSlider2.png" alt="Second slide">
        </div>
        <div class="item">
          <img class="third-slide" src="assets/images/slides/MockForSlider3.png" alt="Third slide">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" v-if="isFeaturesBlockVisible">

      <!-- Three columns of text below the carousel -->
      <div class="row" v-if="isTogglerBlockVisible">
        <!--first toggler-->
        <feature-toggler
          :toggler="firstTogglerType"
          :feature="featureToggleType"
          :header="firstTogglerHeader"
          :content="firstTogglerContent"
          :source="firstAvatarImage">
        </feature-toggler>  
        <!--end of first toggler-->

        <!--first toggler-->
        <feature-toggler
          :toggler="secondTogglerType"
          :feature="featureToggleType"
          :header="secondTogglerHeader"
          :content="secondTogglerContent"
          :source="secondAvatarImage">
        </feature-toggler>  
        <!--end of first toggler-->

        <!--first toggler-->
        <feature-toggler
          :toggler="thirdTogglerType"
          :feature="featureToggleType"
          :header="thirdTogglerHeader"
          :content="thirdTogglerContent"
          :source="thirdAvatarImage">
        </feature-toggler>  
        <!--end of first toggler-->

      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <div class="row featurette" id="feature">
        <!-- feature-content-component -->
        <feature-content 
            :visibility="isFirstFeatureVisible"
            :feature="firstTypeOfFeature"
            :header = "firstFeatureHeader"
            :content="firstFeatureContent"
            :divider="isFirstDividerVisible">
        </feature-content>
        <!-- feature-image-component -->
        <feature-image
            :visibility="isFirstImageVisible"
            :source="firstFeatureImage"
            :feature="firstTypeOfImage">
        </feature-image>
      </div>

      <div class="row featurette">
        <!-- feature-content-component -->
        <feature-content
            :visibility="isSecondFeatureVisible"
            :feature="secondTypeOfFeature"
            :header = "secondFeatureHeader"
            :content="secondFeatureContent"
            :divider="isSecondDividerVisible">
        </feature-content>
        <!-- feature-image-component -->
        <feature-image
            :visibility="isSecondImageVisible"
            :source="secondFeatureImage"
            :feature="secondTypeOfImage">
        </feature-image>
      </div>

      <div class="row featurette">
        <!-- feature-content-component -->
        <feature-content
            :visibility="isThirdFeatureVisible"
            :feature="firstTypeOfFeature"
            :header = "thirdFeatureHeader"
            :content="thirdFeatureContent"
            :divider="isThirdDividerVisible">
        </feature-content>
        <!-- feature-image-component -->
        <feature-image
            :visibility="isThirdImageVisible"
            :source="thirdFeatureImage"
            :feature="firstTypeOfImage">
        </feature-image>
      </div>
      <!-- /END THE FEATURES -->

      <!-- footer-custom-component -->
      <my-footer :divider="isFooterDividerVisible"/>

    </div><!-- /.container -->

    <div align="center" class="wrapper" v-if="isProjectsVisible">
      <div class="col-md-3" id="card" v-for="project in projects">
        <p>{{project.owner}}</p>
        <p>{{project.name}}</p>
        <p>{{project.data}}</p>
      </div>
    </div>
  </div>

    <!-- Bootstrap + custom core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/js/app.js"></script>
    </body>
</html>
